# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BMI calculator.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jmotl\RiderProjects\BMI Calculator\.idea\.idea.BMI calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
